<?xml version="1.0" encoding="utf-8"?>
<Content Key="b77b645c-6414-4c25-aedc-42a69faf7167" Alias=".NET 10 is now available across all of UmbHost shared hosting" Level="3">
  <Info>
    <Parent Key="31523089-f648-4883-9087-ef9a0b83129f">Blog</Parent>
    <Path>/Home/Blog/NET10IsNowAvailableAcrossAllOfUmbHostSharedHosting</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2026-05-12T16:49:59</CreateDate>
    <NodeName Default=".NET 10 is now available across all of UmbHost shared hosting" />
    <SortOrder>483</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e1eefce3-86e1-4a7e-8999-39ab890a6c73">article</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2025-11-17T10:17:17]]></Value>
    </articleDate>
    <author>
      <Value><![CDATA[umb://document/bd6a503ac2f247159e97fd2530c3e5b3]]></Value>
    </author>
    <categories>
      <Value><![CDATA[umb://document/3700e21b425b47ec90d92bf892401ae0]]></Value>
    </categories>
    <contentRows>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "key": "41d8aff7-759d-496c-9ff1-2713652e01e5",
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E.NET 10 is now available across all of our shared hosting!This means you can now deploy Umbraco 17 and other dotnet 10 applications to us!Get started here \u0026#128073; https://umbhost.net/hosting/cloud-umbraco-hosting #hosting #umbraco #dotnet #dotnet10 #sharedhosting\u003C/p\u003E\u003Cp\u003E\u003Ca href=\u0022https://umbracocommunity.social/@UmbHost/115564453942437414\u0022 target=\u0022_blank\u0022 rel=\u0022noopener\u0022\u003ERead the original article\u003C/a\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "key": "00a233a4-dcf2-4c02-a3be-d5973d3a51fc",
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "41d8aff7-759d-496c-9ff1-2713652e01e5",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "41d8aff7-759d-496c-9ff1-2713652e01e5",
        "contentUdi": null,
        "settingsKey": "00a233a4-dcf2-4c02-a3be-d5973d3a51fc",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <isFollowable>
      <Value><![CDATA[0]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[0]]></Value>
    </isIndexable>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "0d422616-75c8-4a30-93f2-5b62d31c4ab5",
    "mediaKey": "13e63ebb-2f82-4e65-84f0-e3b79241a971",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[.NET 10 is now available across all of our shared hosting!This means you can now deploy Umbraco 17 and other dotnet 10 applications to us!Get started here 👉 ht]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[.NET 10 is now available across all of UmbHost shared hosting]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[community, mastodon, social]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[.NET 10 is now available across all of UmbHost shared hosting]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>