<?xml version="1.0" encoding="utf-8"?>
<Content Key="e93480a2-e975-40ff-a79e-8e9529844372" Alias="Articulate for Umbraco is back with Umbraco 17 support" Level="3">
  <Info>
    <Parent Key="31523089-f648-4883-9087-ef9a0b83129f">Blog</Parent>
    <Path>/Home/Blog/ArticulateForUmbracoIsBackWithUmbraco17Support</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2026-05-12T16:49:54</CreateDate>
    <NodeName Default="Articulate for Umbraco is back with Umbraco 17 support" />
    <SortOrder>468</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e1eefce3-86e1-4a7e-8999-39ab890a6c73">article</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2025-11-25T17:54:57]]></Value>
    </articleDate>
    <author>
      <Value><![CDATA[umb://document/bd6a503ac2f247159e97fd2530c3e5b3]]></Value>
    </author>
    <categories>
      <Value><![CDATA[umb://document/3700e21b425b47ec90d92bf892401ae0]]></Value>
    </categories>
    <contentRows>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "key": "27c3d61a-584b-4ee1-9109-d757656b1947",
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EGood news on the horizon - Articulate for #umbraco is back! Thanks to github.com/gavinfaux It\u0026#39;s working with umb 17 \u0026#127881; I\u0026#39;ve tested exporting my own shazwazza.com blog running umb 12.3 and reimporting with latest code = \u0026#128175;working. Truly awesome work\u0026#128170;\n\n\u003C/p\u003E\u003Cp\u003E\u003Ca href=\u0022https://bsky.app/profile/shazwazza.bsky.social/post/3m6hvcwgfac2n\u0022 target=\u0022_blank\u0022 rel=\u0022noopener\u0022\u003ERead the original article\u003C/a\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "key": "460c94ba-6bb1-4f94-89ff-11b8a18fa12a",
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "27c3d61a-584b-4ee1-9109-d757656b1947",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "27c3d61a-584b-4ee1-9109-d757656b1947",
        "contentUdi": null,
        "settingsKey": "460c94ba-6bb1-4f94-89ff-11b8a18fa12a",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <isFollowable>
      <Value><![CDATA[0]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[0]]></Value>
    </isIndexable>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "0d422616-75c8-4a30-93f2-5b62d31c4ab5",
    "mediaKey": "13e63ebb-2f82-4e65-84f0-e3b79241a971",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[Good news on the horizon - Articulate for #umbraco is back! Thanks to github.com/gavinfaux It's working with umb 17 🎉 I've tested exporting my own shazwazza.co]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[Articulate for Umbraco is back with Umbraco 17 support]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[bluesky, social, community]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Articulate for Umbraco is back with Umbraco 17 support]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>