<?xml version="1.0" encoding="utf-8"?>
<Content Key="cf92ddc4-841b-4b9c-9ab2-2be313d3223e" Alias="Codegarden 2026 Tickets Are LIVE!" Level="3">
  <Info>
    <Parent Key="31523089-f648-4883-9087-ef9a0b83129f">Blog</Parent>
    <Path>/Home/Blog/Codegarden2026TicketsAreLIVE</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2026-05-12T16:49:44</CreateDate>
    <NodeName Default="Codegarden 2026 Tickets Are LIVE!" />
    <SortOrder>434</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e1eefce3-86e1-4a7e-8999-39ab890a6c73">article</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2025-12-04T09:35:42]]></Value>
    </articleDate>
    <author>
      <Value><![CDATA[umb://document/bd6a503ac2f247159e97fd2530c3e5b3]]></Value>
    </author>
    <categories>
      <Value><![CDATA[umb://document/3700e21b425b47ec90d92bf892401ae0]]></Value>
    </categories>
    <contentRows>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "key": "b0c2c4fa-f64f-46d9-b736-21a4f5138e0d",
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EJoin us in Copenhagen (or online) on June 10\u201311 for the biggest Umbraco conference in the world - two full days of learning, genuine conversations, and the kind of inspiration that brings business leaders, developers, and digital creators together.\n\nRead more and secure your spot at: https://codegarden.umbraco.com/\u003C/p\u003E\u003Cp\u003E\u003Ca href=\u0022https://www.youtube.com/watch?v=tDoEAf37Rn8\u0022 target=\u0022_blank\u0022 rel=\u0022noopener\u0022\u003ERead the original article\u003C/a\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "key": "f5859f0c-a627-412c-851f-dce0719b446b",
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "b0c2c4fa-f64f-46d9-b736-21a4f5138e0d",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "b0c2c4fa-f64f-46d9-b736-21a4f5138e0d",
        "contentUdi": null,
        "settingsKey": "f5859f0c-a627-412c-851f-dce0719b446b",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <isFollowable>
      <Value><![CDATA[0]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[0]]></Value>
    </isIndexable>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "0d422616-75c8-4a30-93f2-5b62d31c4ab5",
    "mediaKey": "13e63ebb-2f82-4e65-84f0-e3b79241a971",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[Join us in Copenhagen (or online) on June 10–11 for the biggest Umbraco conference in the world - two full days of learning, genuine conversations, and the kind]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[Codegarden 2026 Tickets Are LIVE!]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[hq, youtube]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Codegarden 2026 Tickets Are LIVE!]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>