<?xml version="1.0" encoding="utf-8"?>
<Content Key="abbf34a4-af27-4a04-9a20-4314c6c2cd8a" Alias="Cultiv.Hangfire 5.2.0 released" Level="3">
  <Info>
    <Parent Key="31523089-f648-4883-9087-ef9a0b83129f">Blog</Parent>
    <Path>/Home/Blog/CultivHangfire520Released</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2026-05-12T16:49:42</CreateDate>
    <NodeName Default="Cultiv.Hangfire 5.2.0 released" />
    <SortOrder>425</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e1eefce3-86e1-4a7e-8999-39ab890a6c73">article</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2025-12-07T19:57:10]]></Value>
    </articleDate>
    <author>
      <Value><![CDATA[umb://document/bd6a503ac2f247159e97fd2530c3e5b3]]></Value>
    </author>
    <categories>
      <Value><![CDATA[umb://document/3700e21b425b47ec90d92bf892401ae0]]></Value>
    </categories>
    <contentRows>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "key": "b1c937d7-538a-43b8-98ec-0b0ca3dee04c",
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EI\u0026#39;ve had a productive weekend on my hobby projects \u0026#128588;\u0060Cultiv.Hangfire\u0060 is now at 5.2.0 after merging 2 community PRs and implementing an idea Bjarne had years ago to move the Hangfire dashboard to it\u0026#39;s own section - that is now an option! Release notes: https://github.com/nul800sebastiaan/Cultiv.Hangfire/releases/tag/v5.1.0 and https://github.com/nul800sebastiaan/Cultiv.Hangfire/releases/tag/v5.2.0Also: https://umbracalendar.com now has a stylesheet for it\u0026#39;s RSS feed and the feed includes all events, not just the ones from meetup.com \u0026#127881; Feed: https://umbracalendar.com/meetup#Umbraco\u003C/p\u003E\u003Cp\u003E\u003Ca href=\u0022https://cultiv.social/@sebastiaan/115678715927663519\u0022 target=\u0022_blank\u0022 rel=\u0022noopener\u0022\u003ERead the original article\u003C/a\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "key": "21519816-590b-4055-b7f8-cf3c20f5e0b9",
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "b1c937d7-538a-43b8-98ec-0b0ca3dee04c",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "b1c937d7-538a-43b8-98ec-0b0ca3dee04c",
        "contentUdi": null,
        "settingsKey": "21519816-590b-4055-b7f8-cf3c20f5e0b9",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <isFollowable>
      <Value><![CDATA[0]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[0]]></Value>
    </isIndexable>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "0d422616-75c8-4a30-93f2-5b62d31c4ab5",
    "mediaKey": "13e63ebb-2f82-4e65-84f0-e3b79241a971",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[I've had a productive weekend on my hobby projects 🙌`Cultiv.Hangfire` is now at 5.2.0 after merging 2 community PRs and implementing an idea Bjarne had years a]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[Cultiv.Hangfire 5.2.0 released]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[community, package]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Cultiv.Hangfire 5.2.0 released]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>