<?xml version="1.0" encoding="utf-8"?>
<Content Key="0fa8e0b5-23d5-4c84-ac58-91da2cce22e5" Alias="Find the right Umbraco icon with &quot;Umbraco Iconomancer&quot;" Level="3">
  <Info>
    <Parent Key="31523089-f648-4883-9087-ef9a0b83129f">Blog</Parent>
    <Path>/Home/Blog/FindTheRightUmbracoIconWithUmbracoIconomancer</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2026-05-12T16:49:14</CreateDate>
    <NodeName Default="Find the right Umbraco icon with &quot;Umbraco Iconomancer&quot;" />
    <SortOrder>311</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e1eefce3-86e1-4a7e-8999-39ab890a6c73">article</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2026-01-27T17:24:19]]></Value>
    </articleDate>
    <author>
      <Value><![CDATA[umb://document/bd6a503ac2f247159e97fd2530c3e5b3]]></Value>
    </author>
    <categories>
      <Value><![CDATA[umb://document/3700e21b425b47ec90d92bf892401ae0]]></Value>
    </categories>
    <contentRows>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "key": "f793b80a-c79a-4d90-936a-2b933285c5ba",
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EWhile fondly remembering going to the ucreate umbraco icons github page,\nI did some digressing today trying to make the process of \u0026quot;finding-the-right-icon\u2122\u0026quot; even more enjoyable.\nMeet the \u0026quot;Umbraco Iconomancer\u0026quot;, a Custom GPT with the sole purpose\nof making your \u0026quot;finding-the-right-icon\u2122\u0026quot; experience umbazing. \u0026#128513;\u0026#129325;\nhttps://chatgpt.com/g/g-697788bd87888191aefe76e552c70820-umbraco-iconomancer\u003C/p\u003E\u003Cp\u003E\u003Ca href=\u0022https://discord.com/channels/869656431308189746/882981290662580264/1465425940669792502\u0022 target=\u0022_blank\u0022 rel=\u0022noopener\u0022\u003ERead the original article\u003C/a\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "key": "05951e0f-692b-443c-96cb-8e34343cfc84",
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "f793b80a-c79a-4d90-936a-2b933285c5ba",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "f793b80a-c79a-4d90-936a-2b933285c5ba",
        "contentUdi": null,
        "settingsKey": "05951e0f-692b-443c-96cb-8e34343cfc84",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <isFollowable>
      <Value><![CDATA[0]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[0]]></Value>
    </isIndexable>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "0d422616-75c8-4a30-93f2-5b62d31c4ab5",
    "mediaKey": "13e63ebb-2f82-4e65-84f0-e3b79241a971",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[While fondly remembering going to the ucreate umbraco icons github page,
I did some digressing today trying to make the process of "finding-the-right-icon™" eve]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[Find the right Umbraco icon with "Umbraco Iconomancer"]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[community, discord]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Find the right Umbraco icon with "Umbraco Iconomancer"]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>