<?xml version="1.0" encoding="utf-8"?>
<Content Key="97a3f348-c98d-4286-a263-115610d10b9c" Alias="New Year, New Perspectives: The Importance of Togetherness" Level="3">
  <Info>
    <Parent Key="31523089-f648-4883-9087-ef9a0b83129f">Blog</Parent>
    <Path>/Home/Blog/NewYearNewPerspectivesTheImportanceOfTogetherness</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2026-05-12T16:49:22</CreateDate>
    <NodeName Default="New Year, New Perspectives: The Importance of Togetherness" />
    <SortOrder>350</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e1eefce3-86e1-4a7e-8999-39ab890a6c73">article</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2026-01-08T00:00:00]]></Value>
    </articleDate>
    <author>
      <Value><![CDATA[umb://document/bd6a503ac2f247159e97fd2530c3e5b3]]></Value>
    </author>
    <categories>
      <Value><![CDATA[umb://document/3700e21b425b47ec90d92bf892401ae0]]></Value>
    </categories>
    <contentRows>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "key": "2671855c-883b-42c6-a1be-15ae86bd695e",
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EA new year has a funny way of inviting reflection. December often finds us looking back at the path we\u2019ve taken, evaluating what worked, what didn\u0026#39;t, and what we hope looks different twelve months from now.\u003C/p\u003E\u003Cp\u003E\u003Ca href=\u0022https://umbraco.com/blog/new-year-new-perspectives-the-importance-of-togetherness/\u0022 target=\u0022_blank\u0022 rel=\u0022noopener\u0022\u003ERead the original article\u003C/a\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "key": "7ac4b048-4d18-41f6-8385-07512a42b045",
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "2671855c-883b-42c6-a1be-15ae86bd695e",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "2671855c-883b-42c6-a1be-15ae86bd695e",
        "contentUdi": null,
        "settingsKey": "7ac4b048-4d18-41f6-8385-07512a42b045",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <isFollowable>
      <Value><![CDATA[0]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[0]]></Value>
    </isIndexable>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "0d422616-75c8-4a30-93f2-5b62d31c4ab5",
    "mediaKey": "13e63ebb-2f82-4e65-84f0-e3b79241a971",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[A new year has a funny way of inviting reflection. December often finds us looking back at the path we’ve taken, evaluating what worked, what didn't, and what w]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[New Year, New Perspectives: The Importance of Togetherness]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[hq, blog]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[New Year, New Perspectives: The Importance of Togetherness]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>