<?xml version="1.0" encoding="utf-8"?>
<Content Key="780b4058-3a05-4457-b8c7-77b7bbbe7a36" Alias="Partner Summits 2026 annoucned" Level="3">
  <Info>
    <Parent Key="31523089-f648-4883-9087-ef9a0b83129f">Blog</Parent>
    <Path>/Home/Blog/PartnerSummits2026Annoucned</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2026-05-12T16:48:25</CreateDate>
    <NodeName Default="Partner Summits 2026 annoucned" />
    <SortOrder>82</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e1eefce3-86e1-4a7e-8999-39ab890a6c73">article</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2026-04-14T11:14:47]]></Value>
    </articleDate>
    <author>
      <Value><![CDATA[umb://document/bd6a503ac2f247159e97fd2530c3e5b3]]></Value>
    </author>
    <categories>
      <Value><![CDATA[umb://document/3700e21b425b47ec90d92bf892401ae0]]></Value>
    </categories>
    <contentRows>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "key": "5bf34e21-2c46-42aa-bd58-60a1156b676f",
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EPartner Summits 2026 are here \u2705Once again, we\u2019re bringing partners together across five markets to give you direct access to HQ insights, product direction, and leadership perspectives.\u0026#127480;\u0026#127466; Sweden \u2013 23 Sep 2026\u0026#127482;\u0026#127480; US \u2013 Wed 30 Sep \u002B Thu 1 Oct 2026\u0026#127468;\u0026#127463; UK \u2013 Thu 15 Oct 2026\u0026#127465;\u0026#127466; DACH \u2013 Wed 11 Nov 2026\u0026#127475;\u0026#127473; BeNeLux \u2013 Wed 18 Nov 2026These are partner-only events, and invitations are sent directly via email \u0026#128233;If you haven\u2019t received yours yet, reach out to your Partner Manager.#Umbraco\u003C/p\u003E\u003Cp\u003E\u003Ca href=\u0022https://umbracocommunity.social/@umbraco/116402714455403613\u0022 target=\u0022_blank\u0022 rel=\u0022noopener\u0022\u003ERead the original article\u003C/a\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "key": "91361c02-b45f-478c-a8cf-385da3c13950",
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "5bf34e21-2c46-42aa-bd58-60a1156b676f",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "5bf34e21-2c46-42aa-bd58-60a1156b676f",
        "contentUdi": null,
        "settingsKey": "91361c02-b45f-478c-a8cf-385da3c13950",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <isFollowable>
      <Value><![CDATA[0]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[0]]></Value>
    </isIndexable>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "0d422616-75c8-4a30-93f2-5b62d31c4ab5",
    "mediaKey": "13e63ebb-2f82-4e65-84f0-e3b79241a971",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[Partner Summits 2026 are here ✅Once again, we’re bringing partners together across five markets to give you direct access to HQ insights, product direction, and]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[Partner Summits 2026 annoucned]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[hq, mastodon, social]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Partner Summits 2026 annoucned]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>