<?xml version="1.0" encoding="utf-8"?>
<Content Key="2e53538f-55cc-4606-a97d-4dd05bf47528" Alias="Phases.Umbraco.Glossify" Level="3">
  <Info>
    <Parent Key="31523089-f648-4883-9087-ef9a0b83129f">Blog</Parent>
    <Path>/Home/Blog/PhasesUmbracoGlossify</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2026-05-12T16:49:35</CreateDate>
    <NodeName Default="Phases.Umbraco.Glossify" />
    <SortOrder>403</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e1eefce3-86e1-4a7e-8999-39ab890a6c73">article</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2025-12-13T00:00:00]]></Value>
    </articleDate>
    <author>
      <Value><![CDATA[umb://document/bd6a503ac2f247159e97fd2530c3e5b3]]></Value>
    </author>
    <categories>
      <Value><![CDATA[umb://document/3700e21b425b47ec90d92bf892401ae0]]></Value>
    </categories>
    <contentRows>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "key": "21424b77-ac83-4382-8ddc-9a7aa40ba6f9",
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EGlossify adds a glossary picker to the Umbraco RTE, allowing editors to link selected text to glossary nodes, highlight the linked content, and display definition tooltips on the front end.\u003C/p\u003E\u003Cp\u003E\u003Ca href=\u0022https://marketplace.umbraco.com/package/phases.umbraco.glossify\u0022 target=\u0022_blank\u0022 rel=\u0022noopener\u0022\u003ERead the original article\u003C/a\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "key": "e2df3e26-742a-4ab0-ad1c-17655aad4f49",
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "21424b77-ac83-4382-8ddc-9a7aa40ba6f9",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "21424b77-ac83-4382-8ddc-9a7aa40ba6f9",
        "contentUdi": null,
        "settingsKey": "e2df3e26-742a-4ab0-ad1c-17655aad4f49",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <isFollowable>
      <Value><![CDATA[0]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[0]]></Value>
    </isIndexable>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "0d422616-75c8-4a30-93f2-5b62d31c4ab5",
    "mediaKey": "13e63ebb-2f82-4e65-84f0-e3b79241a971",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[Glossify adds a glossary picker to the Umbraco RTE, allowing editors to link selected text to glossary nodes, highlight the linked content, and display definiti]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[Phases.Umbraco.Glossify]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[community, package, marketplace]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Phases.Umbraco.Glossify]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>