<?xml version="1.0" encoding="utf-8"?>
<Content Key="585cc50e-13a7-4aaf-bd46-b4b17db8132a" Alias="Sign up to the Umbraco Winter Keynote 2026" Level="3">
  <Info>
    <Parent Key="31523089-f648-4883-9087-ef9a0b83129f">Blog</Parent>
    <Path>/Home/Blog/SignUpToTheUmbracoWinterKeynote2026</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2026-05-12T16:50:00</CreateDate>
    <NodeName Default="Sign up to the Umbraco Winter Keynote 2026" />
    <SortOrder>486</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e1eefce3-86e1-4a7e-8999-39ab890a6c73">article</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2025-11-14T12:49:35]]></Value>
    </articleDate>
    <author>
      <Value><![CDATA[umb://document/bd6a503ac2f247159e97fd2530c3e5b3]]></Value>
    </author>
    <categories>
      <Value><![CDATA[umb://document/3700e21b425b47ec90d92bf892401ae0]]></Value>
    </categories>
    <contentRows>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "key": "b16ebdad-a70f-4c62-bce4-d686b5bbddbe",
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EImagine it\u2019s February 3rd, 4:30 PM CET. Your team is gathered in your favorite meeting room, drinks in hand, screens glowing\u2026 all eyes on the Umbraco Winter Keynote 2026 \u2744\uFE0F\u0026#128293;You guessed it! You can now sign up for the Winter Keynote and grab a front-row view of how Umbraco will empower you to win in 2026 - all free and online.\u0026#128640; Sign up now (and we\u2019ll send the recording if you can\u2019t join live).https://umbra.co/3WVEPCd #Umbraco\u003C/p\u003E\u003Cp\u003E\u003Ca href=\u0022https://umbracocommunity.social/@umbraco/115547942825928208\u0022 target=\u0022_blank\u0022 rel=\u0022noopener\u0022\u003ERead the original article\u003C/a\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "key": "c1a8f997-251c-4a4e-80c2-1ce2bf50dc53",
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "b16ebdad-a70f-4c62-bce4-d686b5bbddbe",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "b16ebdad-a70f-4c62-bce4-d686b5bbddbe",
        "contentUdi": null,
        "settingsKey": "c1a8f997-251c-4a4e-80c2-1ce2bf50dc53",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <isFollowable>
      <Value><![CDATA[0]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[0]]></Value>
    </isIndexable>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "0d422616-75c8-4a30-93f2-5b62d31c4ab5",
    "mediaKey": "13e63ebb-2f82-4e65-84f0-e3b79241a971",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[Imagine it’s February 3rd, 4:30 PM CET. Your team is gathered in your favorite meeting room, drinks in hand, screens glowing… all eyes on the Umbraco Winter Key]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[Sign up to the Umbraco Winter Keynote 2026]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[hq, mastodon, social]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Sign up to the Umbraco Winter Keynote 2026]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>