<?xml version="1.0" encoding="utf-8"?>
<Content Key="ff2eef1f-d0ee-4fc6-ade8-ffe14a01aba6" Alias="Skrift Issue #125" Level="3">
  <Info>
    <Parent Key="31523089-f648-4883-9087-ef9a0b83129f">Blog</Parent>
    <Path>/Home/Blog/SkriftIssue125</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2026-05-12T16:48:49</CreateDate>
    <NodeName Default="Skrift Issue #125" />
    <SortOrder>192</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e1eefce3-86e1-4a7e-8999-39ab890a6c73">article</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2026-03-03T00:00:00]]></Value>
    </articleDate>
    <author>
      <Value><![CDATA[umb://document/bd6a503ac2f247159e97fd2530c3e5b3]]></Value>
    </author>
    <categories>
      <Value><![CDATA[umb://document/3700e21b425b47ec90d92bf892401ae0]]></Value>
    </categories>
    <contentRows>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "key": "aacd1d4b-38b1-4842-94cc-839e739dc0b0",
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EFeaturing guest posts by Nathaniel Grantham-Knight on \u0026quot;Building An Umbraco Property Editor With Vite\u0026quot; and Tim Payne on \u0026quot;Web Development and Ultrarunning Have More in Common Than You Might Think\u0026quot;\u003C/p\u003E\u003Cp\u003E\u003Ca href=\u0022https://skrift.io/issues/#125\u0022 target=\u0022_blank\u0022 rel=\u0022noopener\u0022\u003ERead the original article\u003C/a\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "key": "9922d732-a386-4f38-a976-ed95b9177115",
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "aacd1d4b-38b1-4842-94cc-839e739dc0b0",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "aacd1d4b-38b1-4842-94cc-839e739dc0b0",
        "contentUdi": null,
        "settingsKey": "9922d732-a386-4f38-a976-ed95b9177115",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <isFollowable>
      <Value><![CDATA[0]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[0]]></Value>
    </isIndexable>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "0d422616-75c8-4a30-93f2-5b62d31c4ab5",
    "mediaKey": "13e63ebb-2f82-4e65-84f0-e3b79241a971",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[Featuring guest posts by Nathaniel Grantham-Knight on "Building An Umbraco Property Editor With Vite" and Tim Payne on "Web Development and Ultrarunning Have Mo]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[Skrift Issue #125]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[community, blog, skrift]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Skrift Issue #125]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>