<?xml version="1.0" encoding="utf-8"?>
<Content Key="56334266-8986-4f37-93b1-1208a10f042a" Alias="UmbNav 4.1.0 for Umbraco V17+" Level="3">
  <Info>
    <Parent Key="31523089-f648-4883-9087-ef9a0b83129f">Blog</Parent>
    <Path>/Home/Blog/UmbNav410ForUmbracoV17plus</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2026-05-12T16:49:11</CreateDate>
    <NodeName Default="UmbNav 4.1.0 for Umbraco V17+" />
    <SortOrder>298</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e1eefce3-86e1-4a7e-8999-39ab890a6c73">article</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2026-02-02T13:10:16]]></Value>
    </articleDate>
    <author>
      <Value><![CDATA[umb://document/bd6a503ac2f247159e97fd2530c3e5b3]]></Value>
    </author>
    <categories>
      <Value><![CDATA[umb://document/3700e21b425b47ec90d92bf892401ae0]]></Value>
    </categories>
    <contentRows>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "key": "decbc9e0-5347-485f-b153-ce3408853e98",
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EUmbNav 4.1.0 for Umbraco V17\u002B is here!\n\nThis update is a biggy:\n\u2705 Enhances drag and drop functionality.\n\u2705 Reworks the menu service.\n\u2705 Simplifies extension points.\n\u2705 Implements package migration for legacy data format.\n\u2705 Adds unit tests for increased code reliability.\n\u2705 Introduces code analysis and review workflows.\n\u2705 Bumps version number to 4.1.0.\n\u2705 IsActive extension method overhauled\n\nh5yr to hotchillicode  for the migration PR!\n\nGrab it here:\nhttps://www.nuget.org/packages/Umbraco.Community.UmbNav\u003C/p\u003E\u003Cp\u003E\u003Ca href=\u0022https://www.nuget.org/packages/Umbraco.Community.UmbNav\u0022 target=\u0022_blank\u0022 rel=\u0022noopener\u0022\u003ERead the original article\u003C/a\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "key": "dcf33b26-4b8a-411f-b2a2-c104de777e81",
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "decbc9e0-5347-485f-b153-ce3408853e98",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "decbc9e0-5347-485f-b153-ce3408853e98",
        "contentUdi": null,
        "settingsKey": "dcf33b26-4b8a-411f-b2a2-c104de777e81",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <isFollowable>
      <Value><![CDATA[0]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[0]]></Value>
    </isIndexable>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "0d422616-75c8-4a30-93f2-5b62d31c4ab5",
    "mediaKey": "13e63ebb-2f82-4e65-84f0-e3b79241a971",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[UmbNav 4.1.0 for Umbraco V17+ is here!

This update is a biggy:
✅ Enhances drag and drop functionality.
✅ Reworks the menu service.
✅ Simplifies extension point]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[UmbNav 4.1.0 for Umbraco V17+]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[community, nuget, package]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[UmbNav 4.1.0 for Umbraco V17+]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>