<?xml version="1.0" encoding="utf-8"?>
<Content Key="3cc2bacf-6100-4e34-b646-87b87131d86a" Alias="Umbraco Recognized as a G2 Leader Across CMS and Headless in the Spring 2026 Reports" Level="3">
  <Info>
    <Parent Key="31523089-f648-4883-9087-ef9a0b83129f">Blog</Parent>
    <Path>/Home/Blog/UmbracoRecognizedAsAG2LeaderAcrossCMSAndHeadlessInTheSpring2026Reports</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2026-05-12T16:48:41</CreateDate>
    <NodeName Default="Umbraco Recognized as a G2 Leader Across CMS and Headless in the Spring 2026 Reports" />
    <SortOrder>155</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e1eefce3-86e1-4a7e-8999-39ab890a6c73">article</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2026-03-17T00:00:00]]></Value>
    </articleDate>
    <author>
      <Value><![CDATA[umb://document/bd6a503ac2f247159e97fd2530c3e5b3]]></Value>
    </author>
    <categories>
      <Value><![CDATA[umb://document/3700e21b425b47ec90d92bf892401ae0]]></Value>
    </categories>
    <contentRows>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "key": "9d3b222e-d2d3-4e88-afb4-53ed5796e0ef",
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003ESee Umbraco\u2019s Winter 2026 G2 results across CMS, Headless, DXP, and WebOps, including key badges, usability gains, and implementation highlights.\u003C/p\u003E\u003Cp\u003E\u003Ca href=\u0022https://umbraco.com/blog/umbraco-s-spring-2026-g2-highlights-strong-usability-wins-across-headless-dxp-cms-and-webops/\u0022 target=\u0022_blank\u0022 rel=\u0022noopener\u0022\u003ERead the original article\u003C/a\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "key": "81549759-2bb8-4a27-8b58-95ba63155263",
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "9d3b222e-d2d3-4e88-afb4-53ed5796e0ef",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "9d3b222e-d2d3-4e88-afb4-53ed5796e0ef",
        "contentUdi": null,
        "settingsKey": "81549759-2bb8-4a27-8b58-95ba63155263",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <isFollowable>
      <Value><![CDATA[0]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[0]]></Value>
    </isIndexable>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "0d422616-75c8-4a30-93f2-5b62d31c4ab5",
    "mediaKey": "13e63ebb-2f82-4e65-84f0-e3b79241a971",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[See Umbraco’s Winter 2026 G2 results across CMS, Headless, DXP, and WebOps, including key badges, usability gains, and implementation highlights.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[Umbraco Recognized as a G2 Leader Across CMS and Headless in the Spring 2026 Reports]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[hq, blog]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Umbraco Recognized as a G2 Leader Across CMS and Headless in the Spring 2026 Reports]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>