<?xml version="1.0" encoding="utf-8"?>
<Content Key="9956876e-e1e9-41ea-a415-39593e273adf" Alias="Umbraco Spark 2026 speaker line-up is live" Level="3">
  <Info>
    <Parent Key="31523089-f648-4883-9087-ef9a0b83129f">Blog</Parent>
    <Path>/Home/Blog/UmbracoSpark2026SpeakerLineUpIsLive</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2026-05-12T16:49:18</CreateDate>
    <NodeName Default="Umbraco Spark 2026 speaker line-up is live" />
    <SortOrder>331</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e1eefce3-86e1-4a7e-8999-39ab890a6c73">article</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2026-01-15T14:17:07]]></Value>
    </articleDate>
    <author>
      <Value><![CDATA[umb://document/bd6a503ac2f247159e97fd2530c3e5b3]]></Value>
    </author>
    <categories>
      <Value><![CDATA[umb://document/3700e21b425b47ec90d92bf892401ae0]]></Value>
    </categories>
    <contentRows>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "key": "de9a4663-a9cf-44fa-949e-06a4d0772df0",
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u0026#128640; The Umbraco Spark 2026 speaker line-up is live!From Niels Lyngs\u0026#248; on the backoffice, to Carl Sargunar\u2019s live load balancing, and Georgina \u0026amp; Matt\u2019s AI-driven humor\u2014this year\u2019s Spark has something for every web professional.\u0026#127903;\uFE0F Tickets are limited! \u0026#163;125 \u002B VAT until 31 Jan. Check out the full line-up \u0026amp; get tickets https://umbracospark.com/ #UmbracoSpark #Umbraco #WebDev #TechEvents\u003C/p\u003E\u003Cp\u003E\u003Ca href=\u0022https://umbracocommunity.social/@umbracospark/115899473100284278\u0022 target=\u0022_blank\u0022 rel=\u0022noopener\u0022\u003ERead the original article\u003C/a\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "key": "652c2cee-f236-4c84-b6ea-2d1f2921cbc7",
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "de9a4663-a9cf-44fa-949e-06a4d0772df0",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "de9a4663-a9cf-44fa-949e-06a4d0772df0",
        "contentUdi": null,
        "settingsKey": "652c2cee-f236-4c84-b6ea-2d1f2921cbc7",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <isFollowable>
      <Value><![CDATA[0]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[0]]></Value>
    </isIndexable>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "0d422616-75c8-4a30-93f2-5b62d31c4ab5",
    "mediaKey": "13e63ebb-2f82-4e65-84f0-e3b79241a971",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[🚀 The Umbraco Spark 2026 speaker line-up is live!From Niels Lyngsø on the backoffice, to Carl Sargunar’s live load balancing, and Georgina & Matt’s AI-driven h]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[Umbraco Spark 2026 speaker line-up is live]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[mastodon, social, community]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Umbraco Spark 2026 speaker line-up is live]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>