<?xml version="1.0" encoding="utf-8"?>
<Content Key="ad1f4bf0-f1f3-41af-b84a-aa53b8b4c31c" Alias="Umbraco events calendar launches on umbraco.com" Level="3">
  <Info>
    <Parent Key="31523089-f648-4883-9087-ef9a0b83129f">Blog</Parent>
    <Path>/Home/Blog/UmbracoEventsCalendarLaunchesOnUmbracocom</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2026-05-12T16:49:26</CreateDate>
    <NodeName Default="Umbraco events calendar launches on umbraco.com" />
    <SortOrder>367</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e1eefce3-86e1-4a7e-8999-39ab890a6c73">article</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2025-12-28T13:46:23]]></Value>
    </articleDate>
    <author>
      <Value><![CDATA[umb://document/bd6a503ac2f247159e97fd2530c3e5b3]]></Value>
    </author>
    <categories>
      <Value><![CDATA[umb://document/3700e21b425b47ec90d92bf892401ae0]]></Value>
    </categories>
    <contentRows>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "key": "ff52f874-c083-4e08-9193-2412f079ffc2",
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EFinding the right Umbraco event just got a lot easier \u0026#128064;We\u2019ve launched a brand new events calendar on umbraco.com, bringing all Umbraco events together in one place. From official Umbraco events to community driven meetups, you can now quickly see what\u2019s coming up (online or in person) \u0026#127757;Up next is our Winter Keynote on Feb 3. Join us for a front row seat to Umbraco\u2019s 2026 roadmap and strategy \u2744\uFE0F\u0026#128293;Take a look and find your next Umbraco event at https://umbraco.com/events/#Umbraco\u003C/p\u003E\u003Cp\u003E\u003Ca href=\u0022https://umbracocommunity.social/@umbraco/115797374209961397\u0022 target=\u0022_blank\u0022 rel=\u0022noopener\u0022\u003ERead the original article\u003C/a\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "key": "d2b3a8ee-a4dc-4ffc-84a0-32e4342888f2",
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "ff52f874-c083-4e08-9193-2412f079ffc2",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "ff52f874-c083-4e08-9193-2412f079ffc2",
        "contentUdi": null,
        "settingsKey": "d2b3a8ee-a4dc-4ffc-84a0-32e4342888f2",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <isFollowable>
      <Value><![CDATA[0]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[0]]></Value>
    </isIndexable>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "0d422616-75c8-4a30-93f2-5b62d31c4ab5",
    "mediaKey": "13e63ebb-2f82-4e65-84f0-e3b79241a971",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[Finding the right Umbraco event just got a lot easier 👀We’ve launched a brand new events calendar on umbraco.com, bringing all Umbraco events together in one p]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[Umbraco events calendar launches on umbraco.com]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[hq, social, mastodon]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Umbraco events calendar launches on umbraco.com]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>