<?xml version="1.0" encoding="utf-8"?>
<Content Key="df36c67d-f968-41a6-ac22-7ff8e7aeaed5" Alias="Umbraco Compose - From Complexity to Clarity" Level="3">
  <Info>
    <Parent Key="31523089-f648-4883-9087-ef9a0b83129f">Blog</Parent>
    <Path>/Home/Blog/UmbracoComposeFromComplexityToClarity</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2026-05-12T16:49:09</CreateDate>
    <NodeName Default="Umbraco Compose - From Complexity to Clarity" />
    <SortOrder>287</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e1eefce3-86e1-4a7e-8999-39ab890a6c73">article</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2026-02-03T15:45:22]]></Value>
    </articleDate>
    <author>
      <Value><![CDATA[umb://document/bd6a503ac2f247159e97fd2530c3e5b3]]></Value>
    </author>
    <categories>
      <Value><![CDATA[umb://document/3700e21b425b47ec90d92bf892401ae0]]></Value>
    </categories>
    <contentRows>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "key": "b74c565c-8d3a-4426-855e-01cbc5b48ab1",
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003ENo more \u0026quot;Spaghetti Knot\u0026quot; Architecture. With Umbraco Compose, you can build Clean Composable Architecture. \n\nSome call it data orchestration. Others, a fully managed backend-for-frontend. We call it Umbraco Compose.\n\nLearn more about Umbraco Compose here: www.umbraco/compose.com\u003C/p\u003E\u003Cp\u003E\u003Ca href=\u0022https://www.youtube.com/watch?v=fgc8w85hbP0\u0022 target=\u0022_blank\u0022 rel=\u0022noopener\u0022\u003ERead the original article\u003C/a\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "key": "d5165b8b-047e-4521-be44-f212956c7231",
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "b74c565c-8d3a-4426-855e-01cbc5b48ab1",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "b74c565c-8d3a-4426-855e-01cbc5b48ab1",
        "contentUdi": null,
        "settingsKey": "d5165b8b-047e-4521-be44-f212956c7231",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <isFollowable>
      <Value><![CDATA[0]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[0]]></Value>
    </isIndexable>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "0d422616-75c8-4a30-93f2-5b62d31c4ab5",
    "mediaKey": "13e63ebb-2f82-4e65-84f0-e3b79241a971",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[No more "Spaghetti Knot" Architecture. With Umbraco Compose, you can build Clean Composable Architecture. 

Some call it data orchestration. Others, a fully man]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[Umbraco Compose - From Complexity to Clarity]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[hq, youtube]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Umbraco Compose - From Complexity to Clarity]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>