<?xml version="1.0" encoding="utf-8"?>
<Content Key="04de298c-a642-4731-b95d-89f4b5c83c20" Alias="Umbraco v17 versions of UmbNav, uCaptcha, Intl_Tel_Input and Smidge now available" Level="3">
  <Info>
    <Parent Key="31523089-f648-4883-9087-ef9a0b83129f">Blog</Parent>
    <Path>/Home/Blog/UmbracoV17VersionsOfUmbNavUCaptchaIntl_Tel_InputAndSmidgeNowAvailable</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2026-05-12T16:49:47</CreateDate>
    <NodeName Default="Umbraco v17 versions of UmbNav, uCaptcha, Intl_Tel_Input and Smidge now available" />
    <SortOrder>444</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e1eefce3-86e1-4a7e-8999-39ab890a6c73">article</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2025-11-28T13:46:31]]></Value>
    </articleDate>
    <author>
      <Value><![CDATA[umb://document/bd6a503ac2f247159e97fd2530c3e5b3]]></Value>
    </author>
    <categories>
      <Value><![CDATA[umb://document/3700e21b425b47ec90d92bf892401ae0]]></Value>
    </categories>
    <contentRows>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "key": "06def6b0-f56d-4203-91fb-f5ec30a27cb8",
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EI have released stable versions of my packages for Umbraco 17!UmbNav v4:https://www.nuget.org/packages/Umbraco.Community.UmbNavuCaptcha v6:https://www.nuget.org/packages/Umbraco.Community.Forms.uCaptchaIntl_Tel_Input v6:https://www.nuget.org/packages/Umbraco.Community.Forms.Intl_Tel_InputUmbraco.Community.Smidge v2:https://www.nuget.org/packages/Umbraco.Community.Smidge#umbraco #umbraco17 #launchday\u003C/p\u003E\u003Cp\u003E\u003Ca href=\u0022https://umbracocommunity.social/@aaronsadleruk/115620907295032605\u0022 target=\u0022_blank\u0022 rel=\u0022noopener\u0022\u003ERead the original article\u003C/a\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "key": "8f588693-06fa-48f9-8893-b1a8b3ae521f",
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "06def6b0-f56d-4203-91fb-f5ec30a27cb8",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "06def6b0-f56d-4203-91fb-f5ec30a27cb8",
        "contentUdi": null,
        "settingsKey": "8f588693-06fa-48f9-8893-b1a8b3ae521f",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <isFollowable>
      <Value><![CDATA[0]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[0]]></Value>
    </isIndexable>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "0d422616-75c8-4a30-93f2-5b62d31c4ab5",
    "mediaKey": "13e63ebb-2f82-4e65-84f0-e3b79241a971",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[I have released stable versions of my packages for Umbraco 17!UmbNav v4:https://www.nuget.org/packages/Umbraco.Community.UmbNavuCaptcha v6:https://www.nuget.org]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[Umbraco v17 versions of UmbNav, uCaptcha, Intl_Tel_Input and Smidge now available]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[community, mastodon, social]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Umbraco v17 versions of UmbNav, uCaptcha, Intl_Tel_Input and Smidge now available]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>