<?xml version="1.0" encoding="utf-8"?>
<Content Key="fea7993a-70f4-4d28-a239-0529c0d3ca9d" Alias="Umbraco In Action - Introduction to CMS for students" Level="3">
  <Info>
    <Parent Key="31523089-f648-4883-9087-ef9a0b83129f">Blog</Parent>
    <Path>/Home/Blog/UmbracoInActionIntroductionToCMSForStudents</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2026-05-12T16:48:37</CreateDate>
    <NodeName Default="Umbraco In Action - Introduction to CMS for students" />
    <SortOrder>135</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e1eefce3-86e1-4a7e-8999-39ab890a6c73">article</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2026-03-23T06:57:07]]></Value>
    </articleDate>
    <author>
      <Value><![CDATA[umb://document/bd6a503ac2f247159e97fd2530c3e5b3]]></Value>
    </author>
    <categories>
      <Value><![CDATA[umb://document/3700e21b425b47ec90d92bf892401ae0]]></Value>
    </categories>
    <contentRows>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "key": "b1b99ca3-c7f8-4603-8c65-4040227be702",
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EJust put out a blog \u002B session recording from a talk I did with Coders Club students at Don Bosco College of Engineering, Fatorda.\n\nStarted simple with \u201Cwhat is a CMS\u201D before jumping into demos with Umbraco, headless setup with Next.js, and even a bit of AI.\n\nGood questions from the students, especially around WordPress vs Umbraco \u0026#128064;\n\nBlog Post: https://www.nathanielnunes.com/blog/umbraco-in-action-introduction-to-cms-for-students\nVideo: https://youtu.be/znH8tnedIQg\u003C/p\u003E\u003Cp\u003E\u003Ca href=\u0022https://www.nathanielnunes.com/blog/umbraco-in-action-introduction-to-cms-for-students\u0022 target=\u0022_blank\u0022 rel=\u0022noopener\u0022\u003ERead the original article\u003C/a\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "key": "6833d661-6a6c-4cfe-920c-9eaae57ac884",
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "b1b99ca3-c7f8-4603-8c65-4040227be702",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "b1b99ca3-c7f8-4603-8c65-4040227be702",
        "contentUdi": null,
        "settingsKey": "6833d661-6a6c-4cfe-920c-9eaae57ac884",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <isFollowable>
      <Value><![CDATA[0]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[0]]></Value>
    </isIndexable>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "0d422616-75c8-4a30-93f2-5b62d31c4ab5",
    "mediaKey": "13e63ebb-2f82-4e65-84f0-e3b79241a971",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[Just put out a blog + session recording from a talk I did with Coders Club students at Don Bosco College of Engineering, Fatorda.

Started simple with “what is ]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[Umbraco In Action - Introduction to CMS for students]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[blog, community]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Umbraco In Action - Introduction to CMS for students]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>