<?xml version="1.0" encoding="utf-8"?>
<Content Key="64cca560-24fd-4c66-b85c-91647f1d0dfd" Alias="Umbraco Spark 2026 Early Bird Tickets still available for £100, but only until Midnight Dec 31st 2025" Level="3">
  <Info>
    <Parent Key="31523089-f648-4883-9087-ef9a0b83129f">Blog</Parent>
    <Path>/Home/Blog/UmbracoSpark2026EarlyBirdTicketsStillAvailableFor100ButOnlyUntilMidnightDec31st2025</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2026-05-12T16:49:25</CreateDate>
    <NodeName Default="Umbraco Spark 2026 Early Bird Tickets still available for £100, but only until Midnight Dec 31st 2025" />
    <SortOrder>366</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e1eefce3-86e1-4a7e-8999-39ab890a6c73">article</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2025-12-30T11:08:40]]></Value>
    </articleDate>
    <author>
      <Value><![CDATA[umb://document/bd6a503ac2f247159e97fd2530c3e5b3]]></Value>
    </author>
    <categories>
      <Value><![CDATA[umb://document/3700e21b425b47ec90d92bf892401ae0]]></Value>
    </categories>
    <contentRows>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "key": "7033a33e-ae1c-4d8d-b137-c91b0b2e6b49",
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u23F0 Early Bird reminder!Tickets for Umbraco Spark 2026 are available for \u0026#163;100, but only until Dec 31 at midnight.\u0026#127903; Secure your place now: https://umbra.co/48PdFnj#UmbracoSpark #Umbraco #BristolTech #WebDev #DotNet\u003C/p\u003E\u003Cp\u003E\u003Ca href=\u0022https://umbracocommunity.social/@umbraco/115807982976624159\u0022 target=\u0022_blank\u0022 rel=\u0022noopener\u0022\u003ERead the original article\u003C/a\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "key": "2095d03e-80f5-4469-9e15-1f2164f3049f",
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "7033a33e-ae1c-4d8d-b137-c91b0b2e6b49",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "7033a33e-ae1c-4d8d-b137-c91b0b2e6b49",
        "contentUdi": null,
        "settingsKey": "2095d03e-80f5-4469-9e15-1f2164f3049f",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <isFollowable>
      <Value><![CDATA[0]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[0]]></Value>
    </isIndexable>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "0d422616-75c8-4a30-93f2-5b62d31c4ab5",
    "mediaKey": "13e63ebb-2f82-4e65-84f0-e3b79241a971",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[⏰ Early Bird reminder!Tickets for Umbraco Spark 2026 are available for £100, but only until Dec 31 at midnight.🎟 Secure your place now: https://umbra.co/48PdFn]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[Umbraco Spark 2026 Early Bird Tickets still available for £100, but only until Midnight Dec 31st 2025]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[community, social, mastodon]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Umbraco Spark 2026 Early Bird Tickets still available for £100, but only until Midnight Dec 31st 2025]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>