<?xml version="1.0" encoding="utf-8"?>
<Content Key="e8af79a7-0af0-4f3a-b802-daa4ce1fdbf7" Alias="Why Composability Gets Complicated" Level="3">
  <Info>
    <Parent Key="31523089-f648-4883-9087-ef9a0b83129f">Blog</Parent>
    <Path>/Home/Blog/WhyComposabilityGetsComplicated</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2026-05-12T16:49:29</CreateDate>
    <NodeName Default="Why Composability Gets Complicated" />
    <SortOrder>385</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e1eefce3-86e1-4a7e-8999-39ab890a6c73">article</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2025-12-19T00:00:00]]></Value>
    </articleDate>
    <author>
      <Value><![CDATA[umb://document/bd6a503ac2f247159e97fd2530c3e5b3]]></Value>
    </author>
    <categories>
      <Value><![CDATA[umb://document/3700e21b425b47ec90d92bf892401ae0]]></Value>
    </categories>
    <contentRows>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "key": "82379ce9-1619-40bd-af64-d721ecebfec0",
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EGet the key insights from our webinar with CMS Critic, focusing on why composability often becomes complex in practice and what teams tend to underestimate around data, architecture, and organisation.\u003C/p\u003E\u003Cp\u003E\u003Ca href=\u0022https://umbraco.com/blog/why-composability-gets-complicated/\u0022 target=\u0022_blank\u0022 rel=\u0022noopener\u0022\u003ERead the original article\u003C/a\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "key": "1f29f6e3-1130-4cd6-be06-9511304a512d",
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "82379ce9-1619-40bd-af64-d721ecebfec0",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "82379ce9-1619-40bd-af64-d721ecebfec0",
        "contentUdi": null,
        "settingsKey": "1f29f6e3-1130-4cd6-be06-9511304a512d",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <isFollowable>
      <Value><![CDATA[0]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[0]]></Value>
    </isIndexable>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "0d422616-75c8-4a30-93f2-5b62d31c4ab5",
    "mediaKey": "13e63ebb-2f82-4e65-84f0-e3b79241a971",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[Get the key insights from our webinar with CMS Critic, focusing on why composability often becomes complex in practice and what teams tend to underestimate arou]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[Why Composability Gets Complicated]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[hq, blog]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Why Composability Gets Complicated]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>