<?xml version="1.0" encoding="utf-8"?>
<Content Key="e985353b-8442-4cda-8f52-0c1e6555cf11" Alias="Why Implicit Scoring Isn't Always Enough for Personalization" Level="3">
  <Info>
    <Parent Key="31523089-f648-4883-9087-ef9a0b83129f">Blog</Parent>
    <Path>/Home/Blog/WhyImplicitScoringIsntAlwaysEnoughForPersonalization</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2026-05-12T16:48:43</CreateDate>
    <NodeName Default="Why Implicit Scoring Isn't Always Enough for Personalization" />
    <SortOrder>165</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e1eefce3-86e1-4a7e-8999-39ab890a6c73">article</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2026-03-16T00:00:00]]></Value>
    </articleDate>
    <author>
      <Value><![CDATA[umb://document/bd6a503ac2f247159e97fd2530c3e5b3]]></Value>
    </author>
    <categories>
      <Value><![CDATA[umb://document/3700e21b425b47ec90d92bf892401ae0]]></Value>
    </categories>
    <contentRows>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "key": "f1774adc-7f61-4e24-b409-3c005d2473a9",
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EImplicit scoring works great for most visitors, but what happens when the system gets it wrong? Let\u0026#39;s take a look at how Explicit Scoring in Umbraco Engage gives marketers the confidence to stop guessing.\u003C/p\u003E\u003Cp\u003E\u003Ca href=\u0022https://cornehoskam.com/posts/why-implicit-scoring-isnt-always-enough-for-personalization/\u0022 target=\u0022_blank\u0022 rel=\u0022noopener\u0022\u003ERead the original article\u003C/a\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "key": "475d506c-700b-4d30-953b-098d97bf2946",
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "f1774adc-7f61-4e24-b409-3c005d2473a9",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "f1774adc-7f61-4e24-b409-3c005d2473a9",
        "contentUdi": null,
        "settingsKey": "475d506c-700b-4d30-953b-098d97bf2946",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <isFollowable>
      <Value><![CDATA[0]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[0]]></Value>
    </isIndexable>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "0d422616-75c8-4a30-93f2-5b62d31c4ab5",
    "mediaKey": "13e63ebb-2f82-4e65-84f0-e3b79241a971",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[Implicit scoring works great for most visitors, but what happens when the system gets it wrong? Let's take a look at how Explicit Scoring in Umbraco Engage give]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[Why Implicit Scoring Isn't Always Enough for Personalization]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[community, blog]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Why Implicit Scoring Isn't Always Enough for Personalization]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>