<?xml version="1.0" encoding="utf-8"?>
<Content Key="6f23885a-c211-41e4-b3bc-01a285c563af" Alias="Announcing Umbraco Power Tools, A small browser extension for Umbraco devs" Level="3">
  <Info>
    <Parent Key="31523089-f648-4883-9087-ef9a0b83129f">Blog</Parent>
    <Path>/Home/Blog/AnnouncingUmbracoPowerToolsASmallBrowserExtensionForUmbracoDevs</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2026-05-12T16:49:35</CreateDate>
    <NodeName Default="Announcing Umbraco Power Tools, A small browser extension for Umbraco devs" />
    <SortOrder>405</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e1eefce3-86e1-4a7e-8999-39ab890a6c73">article</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2025-12-12T08:27:40]]></Value>
    </articleDate>
    <author>
      <Value><![CDATA[umb://document/bd6a503ac2f247159e97fd2530c3e5b3]]></Value>
    </author>
    <categories>
      <Value><![CDATA[umb://document/3700e21b425b47ec90d92bf892401ae0]]></Value>
    </categories>
    <contentRows>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "key": "9b412a78-cb3c-4d6c-a0d4-6e0d63b02b1e",
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EIt\u0026#39;s here: Umbraco Power Tools \u0026#129520;A small browser extension for Umbraco devs:\u2022 One-click switch between site \u2194 /umbraco\u2022 Quick links to forum, socials \u0026amp; events\u2022 Useful Umbraco resources in one placeFirefox: https://addons.mozilla.org/en-US/firefox/addon/umbraco-power-tools/Chrome \u0026amp; Edge: https://chromewebstore.google.com/detail/umbraco-power-tools/mnnecgajjbmjjeneclnohbhaflmpjafh#Umbraco\u003C/p\u003E\u003Cp\u003E\u003Ca href=\u0022https://cultiv.social/@sebastiaan/115705645710422621\u0022 target=\u0022_blank\u0022 rel=\u0022noopener\u0022\u003ERead the original article\u003C/a\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "key": "d3b55bce-6d5d-4175-a81c-5f8084d73e72",
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "9b412a78-cb3c-4d6c-a0d4-6e0d63b02b1e",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "9b412a78-cb3c-4d6c-a0d4-6e0d63b02b1e",
        "contentUdi": null,
        "settingsKey": "d3b55bce-6d5d-4175-a81c-5f8084d73e72",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <isFollowable>
      <Value><![CDATA[0]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[0]]></Value>
    </isIndexable>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "0d422616-75c8-4a30-93f2-5b62d31c4ab5",
    "mediaKey": "13e63ebb-2f82-4e65-84f0-e3b79241a971",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[It's here: Umbraco Power Tools 🧰A small browser extension for Umbraco devs:• One-click switch between site ↔ /umbraco• Quick links to forum, socials & events• ]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[Announcing Umbraco Power Tools, A small browser extension for Umbraco devs]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[community, mastodon, social]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Announcing Umbraco Power Tools, A small browser extension for Umbraco devs]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>