<?xml version="1.0" encoding="utf-8"?>
<Content Key="e0fe1907-3b11-4685-8cff-ed532e1bc753" Alias="Content Lock 17.1.0 - aka the WebRTC Audio Calling edition" Level="3">
  <Info>
    <Parent Key="31523089-f648-4883-9087-ef9a0b83129f">Blog</Parent>
    <Path>/Home/Blog/ContentLock1710AkaTheWebRTCAudioCallingEdition</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2026-05-12T16:48:34</CreateDate>
    <NodeName Default="Content Lock 17.1.0 - aka the WebRTC Audio Calling edition" />
    <SortOrder>121</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e1eefce3-86e1-4a7e-8999-39ab890a6c73">article</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2026-03-27T12:30:04]]></Value>
    </articleDate>
    <author>
      <Value><![CDATA[umb://document/bd6a503ac2f247159e97fd2530c3e5b3]]></Value>
    </author>
    <categories>
      <Value><![CDATA[umb://document/3700e21b425b47ec90d92bf892401ae0]]></Value>
    </categories>
    <contentRows>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "key": "9ef1b65a-0319-4c25-aa3d-859f8abfbb1d",
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EContent Lock 17.1.0 - aka the WebRTC Audio Calling edition\nLatest release adds in audio calling to other logged in users of the backoffice with nothing to install.\nSo that quick call to another editor to hurry up and unlock the homenode so you can get the press release out before lunch can be done without having to remember what Microsoft Teams account you need to login to\n\nDocs Site\nhttps://warrenbuckley.github.io/Umbraco.Community.ContentLock/\n\nMarketplace\nhttps://marketplace.umbraco.com/package/umbraco.community.contentlock\n\nNuget\nhttps://www.nuget.org/packages/Umbraco.Community.ContentLock\u003C/p\u003E\u003Cp\u003E\u003Ca href=\u0022https://www.nuget.org/packages/Umbraco.Community.ContentLock\u0022 target=\u0022_blank\u0022 rel=\u0022noopener\u0022\u003ERead the original article\u003C/a\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "key": "bcf3ccc3-b605-4af6-9c1b-550fff6f5964",
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "9ef1b65a-0319-4c25-aa3d-859f8abfbb1d",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "9ef1b65a-0319-4c25-aa3d-859f8abfbb1d",
        "contentUdi": null,
        "settingsKey": "bcf3ccc3-b605-4af6-9c1b-550fff6f5964",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <isFollowable>
      <Value><![CDATA[0]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[0]]></Value>
    </isIndexable>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "0d422616-75c8-4a30-93f2-5b62d31c4ab5",
    "mediaKey": "13e63ebb-2f82-4e65-84f0-e3b79241a971",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[Content Lock 17.1.0 - aka the WebRTC Audio Calling edition
Latest release adds in audio calling to other logged in users of the backoffice with nothing to insta]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[Content Lock 17.1.0 - aka the WebRTC Audio Calling edition]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[package, community]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Content Lock 17.1.0 - aka the WebRTC Audio Calling edition]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>