<?xml version="1.0" encoding="utf-8"?>
<Content Key="9a162bd3-9682-44e9-8de0-7af6db772ae5" Alias="Dotnet templates released preconfigured for our UmbHost Green Stack platform" Level="3">
  <Info>
    <Parent Key="31523089-f648-4883-9087-ef9a0b83129f">Blog</Parent>
    <Path>/Home/Blog/DotnetTemplatesReleasedPreconfiguredForOurUmbHostGreenStackPlatform</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2026-05-12T16:48:26</CreateDate>
    <NodeName Default="Dotnet templates released preconfigured for our UmbHost Green Stack platform" />
    <SortOrder>85</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e1eefce3-86e1-4a7e-8999-39ab890a6c73">article</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2026-04-14T09:50:37]]></Value>
    </articleDate>
    <author>
      <Value><![CDATA[umb://document/bd6a503ac2f247159e97fd2530c3e5b3]]></Value>
    </author>
    <categories>
      <Value><![CDATA[umb://document/3700e21b425b47ec90d92bf892401ae0]]></Value>
    </categories>
    <contentRows>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "key": "b81ea618-8112-453c-827d-cd84b5ffe760",
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EWe have released 4 dotnet new templates and 4 GitHub template repositories preconfigured for our #GreenStack #Umbraco #hosting platform!2 are empty and clean #Umbraco instances, the others are 3 of the popular starterkit preconfigured (The Starter Kit, Clean Starter Kit \u0026amp; UmBootstrap)This makes it easier than ever to get started!GitHub Template Repositories:https://github.com/UmbHost/GreenStack.Umbracohttps://github.com/UmbHost/GreenStack.Umbraco.CleanStarterKithttps://github.com/UmbHost/GreenStack.Umbraco.TheStarterKithttps://github.com/UmbHost/GreenStack.Umbraco.UmBootstrap\u003C/p\u003E\u003Cp\u003E\u003Ca href=\u0022https://umbracocommunity.social/@aaronsadleruk/116402331383861205\u0022 target=\u0022_blank\u0022 rel=\u0022noopener\u0022\u003ERead the original article\u003C/a\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "key": "24d72db2-6f75-4d6d-9cca-2d970e60929e",
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "b81ea618-8112-453c-827d-cd84b5ffe760",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "b81ea618-8112-453c-827d-cd84b5ffe760",
        "contentUdi": null,
        "settingsKey": "24d72db2-6f75-4d6d-9cca-2d970e60929e",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <isFollowable>
      <Value><![CDATA[0]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[0]]></Value>
    </isIndexable>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "0d422616-75c8-4a30-93f2-5b62d31c4ab5",
    "mediaKey": "13e63ebb-2f82-4e65-84f0-e3b79241a971",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[We have released 4 dotnet new templates and 4 GitHub template repositories preconfigured for our #GreenStack #Umbraco #hosting platform!2 are empty and clean #U]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[Dotnet templates released preconfigured for our UmbHost Green Stack platform]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[community, social, mastodon]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Dotnet templates released preconfigured for our UmbHost Green Stack platform]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>