<?xml version="1.0" encoding="utf-8"?>
<Content Key="9d66a5cb-fe0b-440b-9124-ad512e357381" Alias="Giving Umbraco 17 A Bigger Clock: Raising The SQL Command Timeout With A Composer" Level="3">
  <Info>
    <Parent Key="31523089-f648-4883-9087-ef9a0b83129f">Blog</Parent>
    <Path>/Home/Blog/GivingUmbraco17ABiggerClockRaisingTheSQLCommandTimeoutWithAComposer</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2026-05-12T16:48:19</CreateDate>
    <NodeName Default="Giving Umbraco 17 A Bigger Clock: Raising The SQL Command Timeout With A Composer" />
    <SortOrder>59</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e1eefce3-86e1-4a7e-8999-39ab890a6c73">article</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2026-04-21T08:30:00]]></Value>
    </articleDate>
    <author>
      <Value><![CDATA[umb://document/bd6a503ac2f247159e97fd2530c3e5b3]]></Value>
    </author>
    <categories>
      <Value><![CDATA[umb://document/3700e21b425b47ec90d92bf892401ae0]]></Value>
    </categories>
    <contentRows>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "key": "9504f664-a783-484e-afc4-de08e4b1695b",
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003ESometimes you need to override the Command Timeout in code... Here\u0026amp;#x27;s how I did it in Umbraco 17 with a tiny composer. \u0026lt;a href=\u0026quot;https://4e58b28b-864e-4510-9981-431d7c97d58a.azurewebsites.net/blog/2026/april/21/giving-umbraco-17-a-bigger-clock-raising-the-sql-command-timeout-with-a-composer\u0026quot;\u0026gt;Continue reading\u0026lt;/a\u0026gt;\u003C/p\u003E\u003Cp\u003E\u003Ca href=\u0022https://4e58b28b-864e-4510-9981-431d7c97d58a.azurewebsites.net/blog/2026/april/21/giving-umbraco-17-a-bigger-clock-raising-the-sql-command-timeout-with-a-composer\u0022 target=\u0022_blank\u0022 rel=\u0022noopener\u0022\u003ERead the original article\u003C/a\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "key": "2b499c25-e108-4aa7-894c-c23e99fad6be",
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "9504f664-a783-484e-afc4-de08e4b1695b",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "9504f664-a783-484e-afc4-de08e4b1695b",
        "contentUdi": null,
        "settingsKey": "2b499c25-e108-4aa7-894c-c23e99fad6be",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <isFollowable>
      <Value><![CDATA[0]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[0]]></Value>
    </isIndexable>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "0d422616-75c8-4a30-93f2-5b62d31c4ab5",
    "mediaKey": "13e63ebb-2f82-4e65-84f0-e3b79241a971",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[Sometimes you need to override the Command Timeout in code... Here&#x27;s how I did it in Umbraco 17 with a tiny composer. <a href="https://4e58b28b-864e-4510-9]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[Giving Umbraco 17 A Bigger Clock: Raising The SQL Command Timeout With A Composer]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[community, blog]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Giving Umbraco 17 A Bigger Clock: Raising The SQL Command Timeout With A Composer]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>