<?xml version="1.0" encoding="utf-8"?>
<Content Key="bc6dfe8f-e4ca-4636-99cf-263c8ada14b7" Alias="Join your nearest Umbraco 17 Launch Party" Level="3">
  <Info>
    <Parent Key="31523089-f648-4883-9087-ef9a0b83129f">Blog</Parent>
    <Path>/Home/Blog/JoinYourNearestUmbraco17LaunchParty</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2026-05-12T16:50:01</CreateDate>
    <NodeName Default="Join your nearest Umbraco 17 Launch Party" />
    <SortOrder>489</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e1eefce3-86e1-4a7e-8999-39ab890a6c73">article</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2025-11-13T08:55:13]]></Value>
    </articleDate>
    <author>
      <Value><![CDATA[umb://document/bd6a503ac2f247159e97fd2530c3e5b3]]></Value>
    </author>
    <categories>
      <Value><![CDATA[umb://document/3700e21b425b47ec90d92bf892401ae0]]></Value>
    </categories>
    <contentRows>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "key": "52ac8ca0-76b2-4d28-ab63-fa55f189c7f0",
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003ECommunities worldwide are celebrating the Umbraco 17 release this November \u0026#127881; Whether you\u2019re a long-time contributor or new to the community, this is your chance to celebrate the latest release and connect with fellow Umbraco enthusiasts around the world \u0026#127757;Join the party nearest to you:Sydney, Nov 27: https://umbra.co/4r96Sft Amersfoort, Nov 27: https://umbra.co/4qPPa0fLondon, Nov 28: https://umbra.co/4nMU0sjGlasgow, Dec 4: https://umbra.co/49G4mXy #Umbraco\u003C/p\u003E\u003Cp\u003E\u003Ca href=\u0022https://umbracocommunity.social/@umbraco/115536732286824249\u0022 target=\u0022_blank\u0022 rel=\u0022noopener\u0022\u003ERead the original article\u003C/a\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "key": "dc3b3354-9027-40c2-8aee-69e896b8adb1",
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "52ac8ca0-76b2-4d28-ab63-fa55f189c7f0",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "52ac8ca0-76b2-4d28-ab63-fa55f189c7f0",
        "contentUdi": null,
        "settingsKey": "dc3b3354-9027-40c2-8aee-69e896b8adb1",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <isFollowable>
      <Value><![CDATA[0]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[0]]></Value>
    </isIndexable>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "0d422616-75c8-4a30-93f2-5b62d31c4ab5",
    "mediaKey": "13e63ebb-2f82-4e65-84f0-e3b79241a971",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[Communities worldwide are celebrating the Umbraco 17 release this November 🎉 Whether you’re a long-time contributor or new to the community, this is your chanc]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[Join your nearest Umbraco 17 Launch Party]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[hq, mastodon, social]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Join your nearest Umbraco 17 Launch Party]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>