<?xml version="1.0" encoding="utf-8"?>
<Content Key="f390e950-38a4-4d19-9f00-9cbb943db8f0" Alias="Meta Momentum V17 out now" Level="3">
  <Info>
    <Parent Key="31523089-f648-4883-9087-ef9a0b83129f">Blog</Parent>
    <Path>/Home/Blog/MetaMomentumV17OutNow</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2026-05-12T16:49:52</CreateDate>
    <NodeName Default="Meta Momentum V17 out now" />
    <SortOrder>460</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e1eefce3-86e1-4a7e-8999-39ab890a6c73">article</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2025-11-27T11:33:08]]></Value>
    </articleDate>
    <author>
      <Value><![CDATA[umb://document/bd6a503ac2f247159e97fd2530c3e5b3]]></Value>
    </author>
    <categories>
      <Value><![CDATA[umb://document/3700e21b425b47ec90d92bf892401ae0]]></Value>
    </categories>
    <contentRows>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "key": "8b5c0ae8-aea9-4e1d-b4fc-551087c10a46",
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EMeta Momentum V17 search and social sharing package has just been released and ready for your upgrades!:v9rocket: \nhttps://www.nuget.org/packages/MetaMomentum/17.0.0\nhttps://github.com/DigitalMomentum/MetaMomentum\n\n@UMB.FYI#3772 tip\u003C/p\u003E\u003Cp\u003E\u003Ca href=\u0022https://www.nuget.org/packages/MetaMomentum/17.0.0\u0022 target=\u0022_blank\u0022 rel=\u0022noopener\u0022\u003ERead the original article\u003C/a\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "key": "0e1dbdcd-5ebc-4dbc-94e7-d0090e446a9e",
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "8b5c0ae8-aea9-4e1d-b4fc-551087c10a46",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "8b5c0ae8-aea9-4e1d-b4fc-551087c10a46",
        "contentUdi": null,
        "settingsKey": "0e1dbdcd-5ebc-4dbc-94e7-d0090e446a9e",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <isFollowable>
      <Value><![CDATA[0]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[0]]></Value>
    </isIndexable>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "0d422616-75c8-4a30-93f2-5b62d31c4ab5",
    "mediaKey": "13e63ebb-2f82-4e65-84f0-e3b79241a971",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[Meta Momentum V17 search and social sharing package has just been released and ready for your upgrades!:v9rocket: 
https://www.nuget.org/packages/MetaMomentum/1]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[Meta Momentum V17 out now]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[community, nuget]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Meta Momentum V17 out now]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>