<?xml version="1.0" encoding="utf-8"?>
<Content Key="41d04aa6-ed43-4f01-9479-31af66465fba" Alias="New in ExamineX: AI Semantic Ranking for Umbraco + Azure Search" Level="3">
  <Info>
    <Parent Key="31523089-f648-4883-9087-ef9a0b83129f">Blog</Parent>
    <Path>/Home/Blog/NewInExamineXAISemanticRankingForUmbracoPlusAzureSearch</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2026-05-12T16:48:17</CreateDate>
    <NodeName Default="New in ExamineX: AI Semantic Ranking for Umbraco + Azure Search" />
    <SortOrder>49</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e1eefce3-86e1-4a7e-8999-39ab890a6c73">article</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2026-04-24T14:50:10]]></Value>
    </articleDate>
    <author>
      <Value><![CDATA[umb://document/bd6a503ac2f247159e97fd2530c3e5b3]]></Value>
    </author>
    <categories>
      <Value><![CDATA[umb://document/3700e21b425b47ec90d92bf892401ae0]]></Value>
    </categories>
    <contentRows>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "key": "954ac388-969d-4beb-a8a0-e28cb62cab8b",
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u0026#128640; New in #ExamineX: AI Semantic Ranking for #Umbraco \u002B Azure Search!\n\nStandard keywords can miss the mark, but semantic ranking uses deep learning to understand the meaning behind queries, re-ranking for true relevance. \u2728\n\n\u2705 Works with Umbraco v13\u002B\n\u0026#128214; Details: bit.ly/4dQldJr\n\n#AzureSearch #AI\n\n\u003C/p\u003E\u003Cp\u003E\u003Ca href=\u0022https://bsky.app/profile/shazwazza.bsky.social/post/3mjxk4sy4622f\u0022 target=\u0022_blank\u0022 rel=\u0022noopener\u0022\u003ERead the original article\u003C/a\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "key": "91a29c0e-8149-4080-a363-5b9a83e43e17",
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "954ac388-969d-4beb-a8a0-e28cb62cab8b",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "954ac388-969d-4beb-a8a0-e28cb62cab8b",
        "contentUdi": null,
        "settingsKey": "91a29c0e-8149-4080-a363-5b9a83e43e17",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <isFollowable>
      <Value><![CDATA[0]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[0]]></Value>
    </isIndexable>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "0d422616-75c8-4a30-93f2-5b62d31c4ab5",
    "mediaKey": "13e63ebb-2f82-4e65-84f0-e3b79241a971",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[🚀 New in #ExamineX: AI Semantic Ranking for #Umbraco + Azure Search!

Standard keywords can miss the mark, but semantic ranking uses deep learning to understan]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[New in ExamineX: AI Semantic Ranking for Umbraco + Azure Search]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[community, bluesky, social]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[New in ExamineX: AI Semantic Ranking for Umbraco + Azure Search]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>