<?xml version="1.0" encoding="utf-8"?>
<Content Key="723dc892-ca58-41a0-88b8-9cb4666d279f" Alias="One week left to submit your Umbraco Awards 2026 entry!" Level="3">
  <Info>
    <Parent Key="31523089-f648-4883-9087-ef9a0b83129f">Blog</Parent>
    <Path>/Home/Blog/OneWeekLeftToSubmitYourUmbracoAwards2026Entry</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2026-05-12T16:48:46</CreateDate>
    <NodeName Default="One week left to submit your Umbraco Awards 2026 entry!" />
    <SortOrder>183</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e1eefce3-86e1-4a7e-8999-39ab890a6c73">article</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2026-03-06T15:32:53]]></Value>
    </articleDate>
    <author>
      <Value><![CDATA[umb://document/bd6a503ac2f247159e97fd2530c3e5b3]]></Value>
    </author>
    <categories>
      <Value><![CDATA[umb://document/3700e21b425b47ec90d92bf892401ae0]]></Value>
    </categories>
    <contentRows>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "key": "71a4d8a4-89a9-4007-bcc5-9e0a431ff891",
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EOne week left to submit your Umbraco Awards 2026 entry! \u0026#128368;\uFE0F No video needed - just the facts. Partners can turn entries into https://umbraco.com case studies for extra exposure. Streamlined form, minimal effort. Deadline: March 13. Submit: https://umbra.co/4l7zW42 #Umbraco\u003C/p\u003E\u003Cp\u003E\u003Ca href=\u0022https://umbracocommunity.social/@umbraco/116182281314587750\u0022 target=\u0022_blank\u0022 rel=\u0022noopener\u0022\u003ERead the original article\u003C/a\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "key": "77c1bc14-8659-41ad-8c6d-1e9d4ca19b42",
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "71a4d8a4-89a9-4007-bcc5-9e0a431ff891",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "71a4d8a4-89a9-4007-bcc5-9e0a431ff891",
        "contentUdi": null,
        "settingsKey": "77c1bc14-8659-41ad-8c6d-1e9d4ca19b42",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <isFollowable>
      <Value><![CDATA[0]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[0]]></Value>
    </isIndexable>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "0d422616-75c8-4a30-93f2-5b62d31c4ab5",
    "mediaKey": "13e63ebb-2f82-4e65-84f0-e3b79241a971",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[One week left to submit your Umbraco Awards 2026 entry! 🕰️ No video needed - just the facts. Partners can turn entries into https://umbraco.com case studies fo]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[One week left to submit your Umbraco Awards 2026 entry!]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[social, mastodon, hq]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[One week left to submit your Umbraco Awards 2026 entry!]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>