<?xml version="1.0" encoding="utf-8"?>
<Content Key="e51cde16-e77b-4fb3-bf00-df6911d75f83" Alias="Submit your talk proposal for Umbraco Spark by January 5th" Level="3">
  <Info>
    <Parent Key="31523089-f648-4883-9087-ef9a0b83129f">Blog</Parent>
    <Path>/Home/Blog/SubmitYourTalkProposalForUmbracoSparkByJanuary5th</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2026-05-12T16:49:40</CreateDate>
    <NodeName Default="Submit your talk proposal for Umbraco Spark by January 5th" />
    <SortOrder>419</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e1eefce3-86e1-4a7e-8999-39ab890a6c73">article</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2025-12-09T12:05:19]]></Value>
    </articleDate>
    <author>
      <Value><![CDATA[umb://document/bd6a503ac2f247159e97fd2530c3e5b3]]></Value>
    </author>
    <categories>
      <Value><![CDATA[umb://document/3700e21b425b47ec90d92bf892401ae0]]></Value>
    </categories>
    <contentRows>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "key": "538f3075-61b1-46ee-8915-c6829f490ecb",
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u0026#127908; Why speak at #UmbracoSpark?2024 speaker @erica shares:\u201CUmbraco Spark was incredibly welcoming and inspiring\u2026 seeing both sides connect with the takeaways was so validating. The community\u2019s curiosity and warmth made it an amazing place to learn, connect, and contribute.\u201D\u0026#127873; Free ticket \u002B accommodation\u0026#128073; Submit your proposal: https://sessionize.com/umbraco-spark-2026/\u0026#128347; CFP closes 5 January at midnight#Umbraco #Innovation #CallForSpeakers\u003C/p\u003E\u003Cp\u003E\u003Ca href=\u0022https://sessionize.com/umbraco-spark-2026/\u0022 target=\u0022_blank\u0022 rel=\u0022noopener\u0022\u003ERead the original article\u003C/a\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "key": "74bc4688-f8cf-4377-9f08-8cbe52be4fe2",
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "538f3075-61b1-46ee-8915-c6829f490ecb",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "538f3075-61b1-46ee-8915-c6829f490ecb",
        "contentUdi": null,
        "settingsKey": "74bc4688-f8cf-4377-9f08-8cbe52be4fe2",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <isFollowable>
      <Value><![CDATA[0]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[0]]></Value>
    </isIndexable>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "0d422616-75c8-4a30-93f2-5b62d31c4ab5",
    "mediaKey": "13e63ebb-2f82-4e65-84f0-e3b79241a971",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[🎤 Why speak at #UmbracoSpark?2024 speaker @erica shares:“Umbraco Spark was incredibly welcoming and inspiring… seeing both sides connect with the takeaways was]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[Submit your talk proposal for Umbraco Spark by January 5th]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[community]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Submit your talk proposal for Umbraco Spark by January 5th]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>