<?xml version="1.0" encoding="utf-8"?>
<Content Key="c4c5ecd1-4e31-4353-a03d-5c0dec1052eb" Alias="The Call for Speakers for Umbraco Spark is now closed!" Level="3">
  <Info>
    <Parent Key="31523089-f648-4883-9087-ef9a0b83129f">Blog</Parent>
    <Path>/Home/Blog/TheCallForSpeakersForUmbracoSparkIsNowClosed</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2026-05-12T16:49:21</CreateDate>
    <NodeName Default="The Call for Speakers for Umbraco Spark is now closed!" />
    <SortOrder>348</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e1eefce3-86e1-4a7e-8999-39ab890a6c73">article</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2026-01-08T12:02:37]]></Value>
    </articleDate>
    <author>
      <Value><![CDATA[umb://document/bd6a503ac2f247159e97fd2530c3e5b3]]></Value>
    </author>
    <categories>
      <Value><![CDATA[umb://document/3700e21b425b47ec90d92bf892401ae0]]></Value>
    </categories>
    <contentRows>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "key": "46286c5e-112b-448f-b586-211c2d96f9b5",
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u0026#127908; The Call for Speakers for Umbraco Spark is now closed!Thank you to everyone who submitted \u2014 we\u2019re now reviewing all proposals.Speaker line up coming soon \u0026#128064;\u0026#128073; https://umbracospark.com/#UmbracoSpark #CFP #Umbraco\u003C/p\u003E\u003Cp\u003E\u003Ca href=\u0022https://umbracocommunity.social/@umbracospark/115853702848510381\u0022 target=\u0022_blank\u0022 rel=\u0022noopener\u0022\u003ERead the original article\u003C/a\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "key": "dd41ab07-69b7-4ba4-84ff-b839fcafae6f",
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "46286c5e-112b-448f-b586-211c2d96f9b5",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "46286c5e-112b-448f-b586-211c2d96f9b5",
        "contentUdi": null,
        "settingsKey": "dd41ab07-69b7-4ba4-84ff-b839fcafae6f",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <isFollowable>
      <Value><![CDATA[0]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[0]]></Value>
    </isIndexable>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "0d422616-75c8-4a30-93f2-5b62d31c4ab5",
    "mediaKey": "13e63ebb-2f82-4e65-84f0-e3b79241a971",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[🎤 The Call for Speakers for Umbraco Spark is now closed!Thank you to everyone who submitted — we’re now reviewing all proposals.Speaker line up coming soon 👀]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[The Call for Speakers for Umbraco Spark is now closed!]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[community, social, mastodon]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[The Call for Speakers for Umbraco Spark is now closed!]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>