<?xml version="1.0" encoding="utf-8"?>
<Content Key="1cf40fe7-3fb6-4c52-a42c-08944f8c6a69" Alias="The Pre Spark Umbraco Hackathon and Package Jam is back!" Level="3">
  <Info>
    <Parent Key="31523089-f648-4883-9087-ef9a0b83129f">Blog</Parent>
    <Path>/Home/Blog/ThePreSparkUmbracoHackathonAndPackageJamIsBack</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2026-05-12T16:49:17</CreateDate>
    <NodeName Default="The Pre Spark Umbraco Hackathon and Package Jam is back!" />
    <SortOrder>325</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e1eefce3-86e1-4a7e-8999-39ab890a6c73">article</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2026-01-21T12:11:39]]></Value>
    </articleDate>
    <author>
      <Value><![CDATA[umb://document/bd6a503ac2f247159e97fd2530c3e5b3]]></Value>
    </author>
    <categories>
      <Value><![CDATA[umb://document/3700e21b425b47ec90d92bf892401ae0]]></Value>
    </categories>
    <contentRows>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "key": "1bd74f8f-1ad5-413e-834b-bbb0d354e403",
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u0026#127881; The Pre Spark Umbraco Hackathon and Package Jam is back! \u0026#127881;Sign-ups are now open \u0026#128073; https://www.meetup.com/umbristol/events/312954840If you\u2019re heading to #UmbracoSpark (tickets: https://www.tickettailor.com/events/umbukfdn/1896581) and taking part in the Package Jam, this is a great chance to collaborate in person as a team beforehand.#Umbraco #truedigital #umbristol #Bristol #TechCommunity\u003C/p\u003E\u003Cp\u003E\u003Ca href=\u0022https://umbracocommunity.social/@umbracospark/115932975121252464\u0022 target=\u0022_blank\u0022 rel=\u0022noopener\u0022\u003ERead the original article\u003C/a\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "key": "e652e565-a6fb-4298-9550-6e9b50cb4d24",
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "1bd74f8f-1ad5-413e-834b-bbb0d354e403",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "1bd74f8f-1ad5-413e-834b-bbb0d354e403",
        "contentUdi": null,
        "settingsKey": "e652e565-a6fb-4298-9550-6e9b50cb4d24",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <isFollowable>
      <Value><![CDATA[0]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[0]]></Value>
    </isIndexable>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "0d422616-75c8-4a30-93f2-5b62d31c4ab5",
    "mediaKey": "13e63ebb-2f82-4e65-84f0-e3b79241a971",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[🎉 The Pre Spark Umbraco Hackathon and Package Jam is back! 🎉Sign-ups are now open 👉 https://www.meetup.com/umbristol/events/312954840If you’re heading to #Um]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[The Pre Spark Umbraco Hackathon and Package Jam is back!]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[community, social, mastodon]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[The Pre Spark Umbraco Hackathon and Package Jam is back!]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>