<?xml version="1.0" encoding="utf-8"?>
<Content Key="6bcd2463-aedd-422a-9052-c624ac473dfd" Alias="Tips to Make Your Technical Articles Umbazing" Level="3">
  <Info>
    <Parent Key="31523089-f648-4883-9087-ef9a0b83129f">Blog</Parent>
    <Path>/Home/Blog/TipsToMakeYourTechnicalArticlesUmbazing</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2026-05-12T16:49:44</CreateDate>
    <NodeName Default="Tips to Make Your Technical Articles Umbazing" />
    <SortOrder>435</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e1eefce3-86e1-4a7e-8999-39ab890a6c73">article</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2025-12-04T08:00:00]]></Value>
    </articleDate>
    <author>
      <Value><![CDATA[umb://document/bd6a503ac2f247159e97fd2530c3e5b3]]></Value>
    </author>
    <categories>
      <Value><![CDATA[umb://document/3700e21b425b47ec90d92bf892401ae0]]></Value>
    </categories>
    <contentRows>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "key": "ec241a23-be33-4b9a-b4c9-22cc19ff456f",
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003ETechnical writing is a very different beast from fiction, poetry, or journaling. It often aligns more with an essay, but if it\u0026#39;s too stiff and dry then what makes it different than documentation? This is already getting complicated, but don\u0026#39;t worry! I\u0026#39;m here with a bunch of tips to level up your technical writing, or even just get you started if this is a new journey for you.\u003C/p\u003E\u003Cp\u003E\u003Ca href=\u0022https://24days.in/umbraco-cms/2025/umbazing-technical-articles/\u0022 target=\u0022_blank\u0022 rel=\u0022noopener\u0022\u003ERead the original article\u003C/a\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "key": "dbd42e14-c302-4c6b-a85b-73dbd160fe1f",
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "ec241a23-be33-4b9a-b4c9-22cc19ff456f",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "ec241a23-be33-4b9a-b4c9-22cc19ff456f",
        "contentUdi": null,
        "settingsKey": "dbd42e14-c302-4c6b-a85b-73dbd160fe1f",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <isFollowable>
      <Value><![CDATA[0]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[0]]></Value>
    </isIndexable>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "0d422616-75c8-4a30-93f2-5b62d31c4ab5",
    "mediaKey": "13e63ebb-2f82-4e65-84f0-e3b79241a971",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[Technical writing is a very different beast from fiction, poetry, or journaling. It often aligns more with an essay, but if it's too stiff and dry then what mak]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[Tips to Make Your Technical Articles Umbazing]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[community, blog]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Tips to Make Your Technical Articles Umbazing]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>