<?xml version="1.0" encoding="utf-8"?>
<Content Key="f161c61e-4265-4d2c-86bf-3fa06187d8b6" Alias="Umbraco achieves ISO 27001 certification" Level="3">
  <Info>
    <Parent Key="31523089-f648-4883-9087-ef9a0b83129f">Blog</Parent>
    <Path>/Home/Blog/UmbracoAchievesISO27001Certification</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2026-05-12T16:49:16</CreateDate>
    <NodeName Default="Umbraco achieves ISO 27001 certification" />
    <SortOrder>320</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e1eefce3-86e1-4a7e-8999-39ab890a6c73">article</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2026-01-23T11:35:11]]></Value>
    </articleDate>
    <author>
      <Value><![CDATA[umb://document/bd6a503ac2f247159e97fd2530c3e5b3]]></Value>
    </author>
    <categories>
      <Value><![CDATA[umb://document/3700e21b425b47ec90d92bf892401ae0]]></Value>
    </categories>
    <contentRows>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "key": "4353d3ee-fcfa-4480-9072-fc85f6c341fa",
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u0026#127881; Confetti alert!Even though we\u2019ve been playing with the big boys for years\u2026 we\u2019ve now got the ISO 27001 certification to prove it! \u2705This means our product teams follow audited, structured, and continuously improved security practices, giving partners and customers even more reason to trust Umbraco in enterprise and regulated environments.A massive shout-out to the teams who made this happen \u0026#128079;Read more on https://umbra.co/4r3RDTT#Umbraco\u003C/p\u003E\u003Cp\u003E\u003Ca href=\u0022https://umbracocommunity.social/@umbraco/115943593340257266\u0022 target=\u0022_blank\u0022 rel=\u0022noopener\u0022\u003ERead the original article\u003C/a\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "key": "249bdf9a-33d4-4f07-b7aa-a06801762941",
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "4353d3ee-fcfa-4480-9072-fc85f6c341fa",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "4353d3ee-fcfa-4480-9072-fc85f6c341fa",
        "contentUdi": null,
        "settingsKey": "249bdf9a-33d4-4f07-b7aa-a06801762941",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <isFollowable>
      <Value><![CDATA[0]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[0]]></Value>
    </isIndexable>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "0d422616-75c8-4a30-93f2-5b62d31c4ab5",
    "mediaKey": "13e63ebb-2f82-4e65-84f0-e3b79241a971",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[🎉 Confetti alert!Even though we’ve been playing with the big boys for years… we’ve now got the ISO 27001 certification to prove it! ✅This means our product tea]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[Umbraco achieves ISO 27001 certification]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[hq, social, mastodon]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Umbraco achieves ISO 27001 certification]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>