<?xml version="1.0" encoding="utf-8"?>
<Content Key="24f32968-4535-4543-8cd5-7b2cbc4f1a9b" Alias="Umbraco CMS 17.0.0 Release Candidate 2 is out" Level="3">
  <Info>
    <Parent Key="31523089-f648-4883-9087-ef9a0b83129f">Blog</Parent>
    <Path>/Home/Blog/UmbracoCMS1700ReleaseCandidate2IsOut</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2026-05-12T16:50:02</CreateDate>
    <NodeName Default="Umbraco CMS 17.0.0 Release Candidate 2 is out" />
    <SortOrder>490</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e1eefce3-86e1-4a7e-8999-39ab890a6c73">article</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2025-11-13T08:55:00]]></Value>
    </articleDate>
    <author>
      <Value><![CDATA[umb://document/bd6a503ac2f247159e97fd2530c3e5b3]]></Value>
    </author>
    <categories>
      <Value><![CDATA[umb://document/3700e21b425b47ec90d92bf892401ae0]]></Value>
    </categories>
    <contentRows>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "key": "ade322c8-8199-407a-a292-186d0825deef",
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EUmbraco CMS 17.0.0 Release Candidate 2 is out \u0026#127881; Release notes here\u0026#128071;  https://releases.umbraco.com/release/umbraco/Umbraco-CMS/17.0.0-rc2 https://github.com/umbraco/Umbraco-CMS/releases/tag/release-17.0.0-rc2 Umbraco CMS 16.4.0 Release Candidate is out \u0026#127881; Release notes here \u0026#128071; https://releases.umbraco.com/release/umbraco/Umbraco-CMS/16.4.0 https://github.com/umbraco/Umbraco-CMS/releases/tag/release-16.4.0-rc #Umbraco\u003C/p\u003E\u003Cp\u003E\u003Ca href=\u0022https://umbracocommunity.social/@umbraco/115541171300478078\u0022 target=\u0022_blank\u0022 rel=\u0022noopener\u0022\u003ERead the original article\u003C/a\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "key": "fd057786-478f-49b2-9941-b86cc56432f7",
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "ade322c8-8199-407a-a292-186d0825deef",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "ade322c8-8199-407a-a292-186d0825deef",
        "contentUdi": null,
        "settingsKey": "fd057786-478f-49b2-9941-b86cc56432f7",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <isFollowable>
      <Value><![CDATA[0]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[0]]></Value>
    </isIndexable>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "0d422616-75c8-4a30-93f2-5b62d31c4ab5",
    "mediaKey": "13e63ebb-2f82-4e65-84f0-e3b79241a971",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[Umbraco CMS 17.0.0 Release Candidate 2 is out 🎉 Release notes here👇  https://releases.umbraco.com/release/umbraco/Umbraco-CMS/17.0.0-rc2 https://github.com/um]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[Umbraco CMS 17.0.0 Release Candidate 2 is out]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[hq, social, mastodon]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Umbraco CMS 17.0.0 Release Candidate 2 is out]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>