<?xml version="1.0" encoding="utf-8"?>
<Content Key="413eafec-4031-4de4-b19d-c7cccdceb346" Alias="Umbraco CMS Developer MCP v17.0.1-beta.3 is out!" Level="3">
  <Info>
    <Parent Key="31523089-f648-4883-9087-ef9a0b83129f">Blog</Parent>
    <Path>/Home/Blog/UmbracoCMSDeveloperMCPV1701Beta3IsOut</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2026-05-12T16:49:21</CreateDate>
    <NodeName Default="Umbraco CMS Developer MCP v17.0.1-beta.3 is out!" />
    <SortOrder>346</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e1eefce3-86e1-4a7e-8999-39ab890a6c73">article</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2026-01-08T17:51:47]]></Value>
    </articleDate>
    <author>
      <Value><![CDATA[umb://document/bd6a503ac2f247159e97fd2530c3e5b3]]></Value>
    </author>
    <categories>
      <Value><![CDATA[umb://document/3700e21b425b47ec90d92bf892401ae0]]></Value>
    </categories>
    <contentRows>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "key": "e95096cb-1efd-4147-b4e2-e332718ce764",
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003Ehttps://www.linkedin.com/posts/phil-whittaker-82481716_umbraco-ai-mcp-activity-7415068292215930880-0KRg?utm_source=share\u0026amp;utm_medium=member_ios\u0026amp;rcm=ACoAAABj9KwBjr581HKBv-M3TbQu69Ia79rmfPw\u003C/p\u003E\u003Cp\u003E\u003Ca href=\u0022https://www.linkedin.com/posts/phil-whittaker-82481716_umbraco-ai-mcp-activity-7415068292215930880-0KRg?utm_source=share\u0026amp;utm_medium=member_ios\u0026amp;rcm=ACoAAABj9KwBjr581HKBv-M3TbQu69Ia79rmfPw\u0022 target=\u0022_blank\u0022 rel=\u0022noopener\u0022\u003ERead the original article\u003C/a\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "key": "3237c296-a873-4576-b7fd-dc8eeb40eeb1",
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "e95096cb-1efd-4147-b4e2-e332718ce764",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "e95096cb-1efd-4147-b4e2-e332718ce764",
        "contentUdi": null,
        "settingsKey": "3237c296-a873-4576-b7fd-dc8eeb40eeb1",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <isFollowable>
      <Value><![CDATA[0]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[0]]></Value>
    </isIndexable>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "0d422616-75c8-4a30-93f2-5b62d31c4ab5",
    "mediaKey": "13e63ebb-2f82-4e65-84f0-e3b79241a971",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[https://www.linkedin.com/posts/phil-whittaker-82481716_umbraco-ai-mcp-activity-7415068292215930880-0KRg?utm_source=share&utm_medium=member_ios&rcm=ACoAAABj9KwBj]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[Umbraco CMS Developer MCP v17.0.1-beta.3 is out!]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[community, linkedin, social]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Umbraco CMS Developer MCP v17.0.1-beta.3 is out!]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>