<?xml version="1.0" encoding="utf-8"?>
<Content Key="2d2fdaf7-82da-4f5d-893f-90b01f97649d" Alias="V17 of IconPicker has been released" Level="3">
  <Info>
    <Parent Key="31523089-f648-4883-9087-ef9a0b83129f">Blog</Parent>
    <Path>/Home/Blog/V17OfIconPickerHasBeenReleased</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2026-05-12T16:48:32</CreateDate>
    <NodeName Default="V17 of IconPicker has been released" />
    <SortOrder>111</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e1eefce3-86e1-4a7e-8999-39ab890a6c73">article</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2026-03-31T08:26:38]]></Value>
    </articleDate>
    <author>
      <Value><![CDATA[umb://document/bd6a503ac2f247159e97fd2530c3e5b3]]></Value>
    </author>
    <categories>
      <Value><![CDATA[umb://document/3700e21b425b47ec90d92bf892401ae0]]></Value>
    </categories>
    <contentRows>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "key": "fdb3f554-87c3-42b4-9ada-2f89cb691f83",
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003Ehttps://github.com/Ambertvu/Umbraco.Community.IconPicker/releases/tag/17.0.0\nV17 of IconPicker has been released. \n- Add an sprite containing all the SVG\u0026#39;s\n- Pick these in the backoffice\n- Render them as SVG in the frontend, so you can apply styles and effects!\u003C/p\u003E\u003Cp\u003E\u003Ca href=\u0022https://github.com/Ambertvu/Umbraco.Community.IconPicker/releases/tag/17.0.0\u0022 target=\u0022_blank\u0022 rel=\u0022noopener\u0022\u003ERead the original article\u003C/a\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "key": "372e9fef-f27a-4ba3-9949-d8e016fe68c4",
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "fdb3f554-87c3-42b4-9ada-2f89cb691f83",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "fdb3f554-87c3-42b4-9ada-2f89cb691f83",
        "contentUdi": null,
        "settingsKey": "372e9fef-f27a-4ba3-9949-d8e016fe68c4",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <isFollowable>
      <Value><![CDATA[0]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[0]]></Value>
    </isIndexable>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "0d422616-75c8-4a30-93f2-5b62d31c4ab5",
    "mediaKey": "13e63ebb-2f82-4e65-84f0-e3b79241a971",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[https://github.com/Ambertvu/Umbraco.Community.IconPicker/releases/tag/17.0.0
V17 of IconPicker has been released. 
- Add an sprite containing all the SVG's
- Pi]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[V17 of IconPicker has been released]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[package, community]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[V17 of IconPicker has been released]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>